.entry .entry-content .appsero-licenses,
.appsero-licenses {
    max-width: initial;
}
.appsero-license {
    border: 1px solid #E1DDE0;
    margin-bottom: 30px;
}
.license-product-info{
    padding: 15px 20px;
    width: calc(100% - 80px);
    display: flex;
    border-right: 1px solid #E1DDE0;
}
.license-product-info h2:after,
.license-product-info h2:before {
    display: none;
}
.license-product-info h2 {
    color: #A04E8C;
    font-size: 22px;
    margin: 0 0 7px 0;
    font-weight: 600;
}
.license-product-info p {
    margin: 0;
    color: #555555;
}
.license-product-info p.h3 {
    font-size: 17px;
}
.license-product-info h4 {
    font-size: 15px;
    text-transform: capitalize;
    color: #5B5B5B;
    font-weight: 600;
    margin: 0 0 8px 0;
}
.license-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.license-toggle-info {
    width: 80px;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    cursor: pointer;
}
.license-toggle-info svg {
    width: 25px;
    height: 25px;
    fill: #333333;
}
.license-toggle-info.license-button-toggled svg {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.license-product-title {
    width: 50%;
}
.license-product-expire,
.license-product-activation {
    width: 25%;
}
.license-key-activations {
    border-top: 1px solid #E1DDE0;
    padding: 20px 20px 15px 20px;
    display: none;
}
.appsero-license-key {
    padding-bottom: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid #E1DDE0;
}
.appsero-license-key p {
    margin: 0;
}
.appsero-license-key strong {
    font-weight: 600;
    font-size: 17px;
    color: #5B5B5B;
}
.license-key-code {
    background-color: #E3E1E3;
    color: #4D4D4D;
    padding: 0px 8px;
    display: inline-block;
    margin-left: 10px;
    letter-spacing: 1px;
}
.appsero-activations h4 {
    font-size: 19px;
    color: #5B5B5B;
    font-weight: 600;
    margin: 0 0 7px 0;
}
.appsero-activation-item {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #A04E8C;
}
.appsero-activation-item + .appsero-activation-item {
    border-top: 1px solid #E1DDE0;
    margin-top: 6px;
    padding-top: 6px;
}
.appsero-activation-item span {
    font-weight: 600;
    font-size: 16px;
}
.hentry .entry-content .appsero-activation-item a,
.appsero-activation-item a {
    text-decoration: none;
    font-size: 16px;
}
.appsero-notice {
    padding: 15px;
    margin-bottom: 30px;
    border-left: 8px solid rgba(0, 0, 0, .15);
    color: #fff;
}
.appsero-notice.notice-info {
    background-color: #3d9cd2;
}
.appsero-notice.notice-error {
    background-color: #e2401c;
}

/* Orders */
table.appsero-order-table  {
    font-size: 17px;
    border-spacing: 0;
    width: 100%;
    border-collapse: separate;
}
table.appsero-order-table thead th {
    padding: 1.4em;
}
table.appsero-order-table tbody td {
    background-color: #fdfdfd;
}
table.appsero-order-table tbody tr:nth-child(2n) td {
    background-color: #fbfbfb;
}
table.appsero-order-table a {
    color: #96588a;
}
table.appsero-order-table td, table.appsero-order-table th {
    padding: 1em 1.4em;
    text-align: left;
    vertical-align: middle;
}

small.license-status {
    color: #212529;
    background-color: #ffc107;
    display: inline-block;
    padding: .3em .5em;
    font-size: 66%;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    border-radius: .25em;
    margin-left: 5px;
}
