.appsero-widget {
    padding: 30px;
    background-color: #FFFFFF;
    max-width: 850px;
}
.appsero-widget p {
    font-size: 16px;
    color: #718096;
}
.appsero-widget p.darker-text {
    color: #1A202C;
}
.appsero-widget-logo img {
    width: 200px;
    height: auto;
}
.apikey-input-key {
    position: relative;
    flex: 0 0 72%;
    max-width: 72%;
}
.apikey-input-key input {
    background-color: #F9F9F9;
    padding: 10px 15px 10px 48px;
    border: 1px solid #E8E5E5;
    border-radius: 3px;
    height: 45px;
    font-size: 16px;
    color: #71777D;
    width: 100%;
    box-shadow: 0 0 0 transparent;
}
.apikey-input-key input:focus {
    outline: 0 none;
    border: 1px solid #E8E5E5;
    box-shadow: 0 0 0 transparent;
}
.apikey-input-key svg {
    width: 22px;
    height: 22px;
    fill: #0082BF;
    position: absolute;
    left: 14px;
    top: 13px;
}
.apikey-input-fields {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    width: 100%;
}
.apikey-input-fields button {
    color: #fff;
    font-size: 17px;
    padding: 8px;
    height: 46px;
    background-color: #0082BF;
    border-radius: 3px;
    cursor: pointer;
    flex: 0 0 25%;
    max-width: 25%;
    border: 1px solid #0082BF;
}
.apikey-input-fields button.disconnect-button {
    background-color: #f3f5f6;
    color: #862424;
}
.apikey-input-fields button:focus {
    outline: 0 none;
}

.appsero-settings-form {
    margin-top: 40px;
    border-top: 1px solid #e8e5e5;
    padding-top: 22px;
}
.appsero-settings-form h2 {
    color: #4A5568;
}
.appsero-settings-form h2.title {
    margin: 0;
}
.appsero-settings-form table.form-table {
    margin: 0;
}
.appsero-settings-form p.submit {
    margin: 0;
    padding: 0;
}

.display-none {
    display: none;
}

/* The Modal (background) */
.appsero-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.appsero-modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 30px;
    border: 1px solid #888;
    border-radius: 0.5em;
    box-shadow: 0 10px 20px rgba(black, 0.2);
    color: #718096;
    font-size: 16px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40em;
    max-width: 90%;
    max-height: 90vh;
}

/* The Close Button */
.appsero-modal-close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.appsero-modal-close:hover,
.appsero-modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}